* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url('images.png');
    background-size: cover;

  }

  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px;
  }
    
  header input{
    width: 60%;
    max-width: 280px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border:none;
    outline:none;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #c1dce4;

    color: #313131;
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s ease-out;
    
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }

  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .wrapper .display{
    height: 35px;
    width: 250px;
    padding: 0px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    border:none;
    outline:none;
    border-radius: 15px 0px 15px 0px;
    border-bottom: 3px solid #ffffff;
    text-align: center;
  }
  .display #time{
    line-height: 30px;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
 
  
  
  .weatherA{
    text-align: center;
    column-count: 2;
  }

  .aqiElem{
    column-count: 2;
  }
  
  .date {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  .city {
    color: #FFF;
    font-size: 30px;
    font-weight: 100px;
    text-align: center;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    
  }

  .temp {
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    /* margin-bottom: 15px; */
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    
  }

  .weather {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .feelLike {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    /* margin-bottom: 15px; */
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    
  }

  .feelmessage{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  
  }

  .hi-low{
     color: #FFF;
    font-size: 20px;
    font-weight: 500;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    
  }

  .notititle{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .aqiresult{
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    font-style: italic; 
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .usaqi{
     color: #FFF;
     font-size: 20px;
     font-weight: 500;
     font-style: italic;
     text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
     text-align: center;
  }

  .aqi_humidity{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .aqi_wind{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .notimessage{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .iconA{
    text-align: center;
  }

  .sevenday{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  }

  .tempseven{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  }
  
  .icontemp{
    text-align: center;;
  }